& .chat-message {
  .theme-dark & {
    background: #0b0a13e6;
    color: var(--color-textLight);
    --color-skill: #2a83b9;
    span,
    label {
      color: var(--color-textLight);
    }
  }
  .theme-light & {
    background-color: var(--color-light-3);
    color: #222;
    --color-skill: #084f7b;
    span,
    label {
      color: #222;
    }
  }
  &.whisper {
    .theme-dark & {
      background: #210000e8;
    }
    .theme-light & {
      background: #b5a2a2;
    }
  }
  &.blind {
    .theme-dark & {
      border: 3px solid #990000;
    }
    .theme-light & {
      border: 3px solid var(--color-blind-border);
    }
  }
  .message-header {
    border-bottom: 1px solid #5d142b;
    display: grid;
    .theme-dark & {
      color: var(--color-textLight);
    }
    .theme-light & {
      color: #222;
    }

    .message-metadata {
      margin-top: -44px;
    }

    img {
      max-width: 40px;
      max-height: 40px;
      margin-right: 4px;
    }
    .title {
      font-size: 18px;
      font-weight: bold;
      display: inline;
    }
    .message-sender {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .name-stacked {
        margin-top: 10px;
      }
    }
  }
  .message-content {
    .action-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card-content {
      font-size: 16px;
      margin: 0;
      display: grid;
      grid-template-columns: 3fr 1.2fr;
      align-items: center;
      p {
        margin-bottom: -15px;
        border: 2px solid var(--color-skill);
        border-radius: 15px;
        background-color: #084f7b66;
        font-weight: bold;
        padding: 1px 0 0px 10px;
      }
    }
    .attack-card {
      .card-content {
        p {
          border: 2px solid var(--color-encounterSheet);
          background-color: #5d142b3d;
        }
      }
    }
    strong {
      font-size: 15px;
    }
    label {
      font-size: 14px;
    }
    .result {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: -10px 0px -5px 0px;
    }
    .total-result,
    .diff-result,
    .vs {
      font-size: var(--font-size-36);
      font-weight: bold;
      text-align: center;
      label {
        font-size: var(--font-size-18);
      }
    }
    .display-difficulty,
    .dice-total {
      margin-bottom: -10px;
    }

    .vs {
      margin: 0;
      align-self: center;
    }
    .result-sentence {
      text-align: center;
      margin: 0;
      display: flex;
      height: fit-content;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      align-self: center;
      font-size: 18px;
      height: auto;
      .theme-dark & {
        color: #0b0a13e6;
        .success {
          width: 100%;
          padding: 5px;
          border-radius: 10px;
          background: #2c532c;
        }
        .critical {
          width: 100%;
          padding: 5px;
          border-radius: 10px;
          background: green;
        }
        .failure {
          width: 100%;
          padding: 5px;
          border-radius: 10px;
          background: darkred;
        }
        .failure.fumble {
          width: 100%;
          padding: 5px;
          border-radius: 10px;
          background: red;
        }
      }

      .fas {
        font-size: var(--font-size-24);
      }

      .theme-light & {
        .success {
          width: 100%;
          padding: 3px 0px;
          border: 2px solid #2c532c;
          border-radius: 10px;
          color: #2c532c;
          box-shadow: 1px 1px 0px 1px #2c532c;
        }
        .critical {
          width: 100%;
          padding: 3px 0px;
          border: 2px solid green;
          border-radius: 10px;
          color: green;
          box-shadow: 1px 1px 0px 1px green;
        }
        .failure {
          width: 100%;
          padding: 3px 0px;
          border: 2px solid darkred;
          border-radius: 10px;
          color: darkred;
          box-shadow: 1px 1px 0px 1px darkred;
        }
        .failure.fumble {
          width: 100%;
          padding: 3px 0px;
          border: 2px solid red;
          border-radius: 10px;
          color: red;
          box-shadow: 1px 1px 0px 1px red;
        }
      }
    }

    button {
      background: #084f7b66;
      justify-self: center;
      margin-top: 5px;
      font-weight: bold;
      padding: 0 10px;
      box-shadow: 1px 1px 0px 1px #084f7b;
      .theme-dark & {
        color: var(--color-light-3);
      }
      .theme-light & {
        color: #222;
      }
    }
    button.opposite-roll {
      width: 100%;
      padding: 3px 0px;

      border-radius: 10px;
      height: auto;
      font-size: 18px;
      background: #5d142b3d;
      .theme-dark & {
        color: #ff0000;
        border: 2px solid #ff0000;
        box-shadow: 1px 1px 0px 1px #ff0000;
      }
      .theme-light & {
        color: #5d142b;
        border: 2px solid #5d142b;
        box-shadow: 1px 1px 0px 1px #5d142b;
      }
    }
    .type-card-attack,
    .type-card-damage,
    .type-card-skill {
      .theme-dark & {
        text-shadow: 0px 0px 4px #795403;
      }
      .theme-light & {
        text-shadow: 0 0px 4px #cf7306c4;
      }
      label {
        font-size: 25px;
        font-weight: bold;
        font-variant: small-caps;
      }
    }
    .type-card-damage {
      label {
        color: var(--color-level-error);
      }
    }
    .type-card-attack {
      .theme-dark & {
        label {
          color: #c54709;
        }
      }
      .theme-light & {
        label {
          color: #5d142b;
        }
      }
    }
    .type-card-skill {
      label {
        color: var(--color-skill);
      }
    }
    .action-name {
      strong {
        font-size: 18px;
        font-style: italic;
      }
    }

    .lucky-points {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      .imgLucky {
        height: 25px;
        margin-left: 5px;
      }
      label {
        font-size: 17px;
      }
    }
    .damage-part {
      margin: 0;
    }
    .damage-buttons {
      display: grid;
      grid-template-columns: repeat(4, 37px);
      grid-template-rows: 30px 30px;
      justify-items: center;
      .theme-dark & {
        border-left: 2px solid #ff0000;
      }
      .theme-light & {
        border-left: 2px solid #5d142b;
      }
      //padding-left: 10px;
      .fas {
        font-size: 25px;
        text-shadow: 0px 0px 2px red;
      }
    }
    .temp-dm {
      grid-column: 1/3;
    }
    .dr {
      grid-column: 3/5;
    }
    .message-card {
      p {
        font-size: 15px;
      }
    }
    .itemTitle {
      font-size: 16px;
      display: flex;
      align-items: flex-end;
      margin-top: 3px;
      span {
        text-transform: uppercase;
        font-weight: bold;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      img {
        height: 27px;
        margin-right: 5px;
      }
    }
    .button-row {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-bottom: 3px;
      button {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .chatroll {
      .heal {
        font-size: 22px;
        margin: 5px;
        .theme-dark & {
          color: #3fa13f;
        }
        .theme-light & {
          color: #2c532c;
        }
      }
      .heal-formula {
        margin-bottom: -10px;
        border: 2px solid #2c532c;
        border-radius: 15px;
        background-color: #087b1f66;
        font-weight: bold;
        padding: 1px 0 0px 10px;
        font-size: 16px;
      }
      .heal-result {
        font-size: 38px;
        font-weight: bold;
        text-align: center;
        label {
          font-size: 20px;
        }
      }
      .heal-message {
        width: 150px;
        margin-left: 30px;
      }
      p {
        margin: 0;
      }
      h3 {
        text-align: center;
        margin: -10px 0 0 0;
      }
      strong {
        .theme-dark & {
          color: #e7d1b1;
        }
        .theme-light & {
          color: #222;
        }
      }
    }
    h4.dice-total {
      margin: 0;
    }
    .display-option {
      display: flex;
      justify-content: space-around;
      .theme-dark & {
        text-shadow: 0 0px 4px #790303;
      }
      .theme-light & {
        text-shadow: 0 0px 4px #cf7306c4;
      }
    }
    .dice-roll {
      margin-top: 5px;
      font-weight: bold;
    }
    .skill-used {
      font-size: 15px;
      margin-top: 5px;
      border-top: 1px solid var(--color-skill);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      grid-column: 1/3;

      .skill-used-title {
        font-style: italic;
        font-weight: bold;
      }
      .skill-used-line {
        margin-top: -3px;
      }
      .skill-used-bonus {
        font-size: 18px;
        padding-left: 5px;
        font-weight: bold;
        color: var(--color-skill);
      }
    }
  }
}
